/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');
/* Schemes */
/* Materialize */
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');





                  /* Custom CSS */
/*BASIC ELEMENTS                  */
h1 {
  font-size: medium;
  font-weight: 800;
  text-align: left;
}
h2 {
  font-size: medium;
  font-weight: 800;
  text-align: left;
  color: #313639;
}
p {
  font-weight: 300;
  color: #b4b6b8;
  vertical-align:center;
}
ul {
  text-decoration: none
}
li{
  margin: 0px 0 1px 0;
}
nav{
  height:30px;
}
span {
  display: inline-block;
  vertical-align: middle;
}
/* UTILITY STYLES*/
.container-slim {
  padding:3px
}
.container-page {
  box-shadow: 5px 10px #888888;
  border:1px solid gray;
  padding:0 30px 5px 30px;
}

.infobox-parent{
  display:flex;
  flex-direction:row;
  width:100%;

}
.infobox-parent> div:first-child{
width:200px;

}
.material-icons{
  color:lightgray;
  padding:5px 2px 0 0;
}

.infobox-parent>div:nth-child(2){
font-weight: 100;
font-size: 0.8em;
font-style:italic; 
padding: 1px 5px 1px 2px;
}

/* FUCTIONAL AREAS */
.navbar {
  padding:1px 0 1px 5px;
  text-transform: uppercase;
} 
.navbar h1{
  margin:0;
  padding:3px;
}

/* ReactFolderStructure component*/
/* type */
.file{
  font-weight: 200px;
}
.folder{
  font-weight: 800px;
}
.folder-border{
  border-top:solid light 1px;

}
.lvl-1{
  padding:0 0 0 0;
}
.lvl-2{
  padding:0 0 0 10px;
}
.lvl-3{
  padding:0 0 0 20px;
}


.root {
  border:0px;

}
.file-l1 {
  border:0;
}
 .file-l2 {
  padding-left:10px;
}
.folder{
  font-weight:800;
}

.not-in-create-react-app{
  color:lightgray;
  
}